@page
@model IndexModel
@{
    ViewData["Title"] = "صفحه اصلی";
}

<div class="text-center">
    <h1 class="display-4">خوش آمدید</h1>
    <p>سامانه اتو سرویس مشهد تحولی در ارائه خدمات خودرو در سطح کشور</p>
    <img src="~/images/auto-service.jpg" style="width:650px"/> 
</div>
